{{!-- views/index.hbs --}}
{{#> base title="" }}
	{{#*inline "main-block"}}

		<section class="section section-first section-center util-bg-grey is-active">
			<div class="container">

				<div class="row">
					<p>Programmierer mit Herz</p>
					
				</div>
				<div class="row">
					{{> card class="col-lg-4 util-center" text="Über mich" link="#" img="./img/illustrations/gehirn-vintage.png"}}
					{{> card class="col-lg-4 util-center" text="Projekte" link="#" img="./img/illustrations/bike.png"}}
					{{> card class="col-lg-4 util-center" text="Kontakt" link="#" img="./img/illustrations/hand-writing.png"}}
					
				</div>

				<div class="row">
					{{> card class="col-lg-4 util-center" text="Über mich" link="#" img="./img/illustrations/gehirn-vintage.png"}}
					{{> card class="col-lg-4 util-center" text="Projekte" link="#" img="./img/illustrations/bike.png"}}
					{{> card class="col-lg-4 util-center" text="Kontakt" link="#" img="./img/illustrations/hand-writing.png"}}
					
				</div>

			</div>
		</section>

		<section class="section section-content section-me section-center util-bg-grey">
			<div class="section__close">X</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6 util-center">
						<h2>Über mich</h2>
						<p>lorem et magnis dis parturient montes, nascetur ridiculus mus.</p>
					</div>
					<div class="col-lg-6 util-center">
						<img src="./img/illustrations/gehirn-vintage.png">
					</div>
				</div>

			</div>
		</section>

		<section class="section section-content section-projects section-center util-bg-grey">
			<div class="section__close">X</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6 util-center">
						<h2>Projekte</h2>
						<p>Im folgenden sehen sie meine Projekte die ich im laufe der Zeit umgesetzt habe.</p>
					</div>
					<div class="col-lg-6 util-center">
						<img src="./img/illustrations/bike.png">
					</div>
				</div>

			</div>
		</section>

		<section class="section section-content section-contact section-center util-bg-grey">
			<div class="section__close">X</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6 util-center">
						<h2>Kontakt</h2>
						<p>Schreiben Sie mich gerne an:</p>
						{{> form }}
					</div>
					<div class="col-lg-6 util-center">
						<img src="./img/illustrations/hand-writing.png">
					</div>
				</div>

			</div>
		</section>

		

		

	{{/inline}}
{{/base}}