@import "../fonts/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body,
  html {
    font-family: "ReadexPro", "Helvetica", "Arial", sans-serif;
    color: #555;
    font-size: 16px;
    background-color: #f5f5f5;
  }

  h1,
  h2 {
    font-size: 1.26rem;
    font-weight: 500;
  }

  b {
    @apply font-bold text-greyDark;
  }

  p,
  span {
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
  }

  nav a {
    @apply font-normal text-grey no-underline lg:text-2xl lg:text-end;
  }

  a {
    @apply text-fontOrange underline underline-offset-2;
  }

  a.active,
  nav a:hover {
    @apply font-bold text-fontOrange;
  }
}
