@charset "utf-8";

/**
*
* social-bar.scss
* 25.05.2020 Tobias Lüger
*
**/

$component: 'social-bar';

// block
%#{$component} {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;

    a {
        text-decoration: none;
        margin: 0 5px;
    }

    img {
        width: 20px;
    }
}

// component class selector
.#{$component} {
	@extend %#{$component};
}


