<div class="social-bar">
    <a href="https://www.instagram.com/designwithtobi/" target="_blank">
        <img src="../../img/icons/instagram.png" alt="">
    </a>
    <a href="https://www.xing.com/profile/Tobias_Lueger2/cv" target="_blank">
        <img src="../../img/icons/xing.png" alt="">
    </a>
    <a href="https://github.com/TobiasLueger" target="_blank">
        <img src="../../img/icons/github.png" alt="">
    </a>
    <a href="mailto:tobias-lueger@web.de" >
        <img src="../../img/icons/mail.png" alt="">
    </a>
    
    
    
    
</div>