.btn {
    color: #ff5050;
    text-decoration: none;

    // &-link {
    //         position: relative;
    //         overflow: hidden;
    //         text-decoration: none;
    //         color: #ff5050;
    //         margin-top: 5px;

    //         &::after {
    //           content: "";
    //           background: rgba(#ccc, 0.25);
    //           position: absolute;
    //           left: 12px;
    //           bottom: -3px;
    //           width: calc(100% - 8px);
    //           height: calc(100% - 8px);
    //           z-index: -1;
    //           transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    //         }
    //         &:hover{
    //             color: #fff;

    //             &:after {
    //             left: -2.5px;
    //             bottom: -2.5px;
    //             width: calc(100% + 5px);
    //             height: calc(100% + 5px);
    //             background: rgba(#ff5050, 1);
    //             border-radius: 10px;
    //             }
    //         }
    // }

    &-link{
        font-size: 16px;
        font-weight: 700;
      
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid #ff5050;
        position: relative;
        z-index: 1;
        display: inline-flex;
        padding: 5px 20px;
        transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);

       
    
      
      &:hover{
        background-color: #ff5050;
        color: #fff;
        transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
      }
    }
}