{{!-- includes/typo.hbs --}}
<h3 class="sg__hl sg__hl--subline">Headlines</h3>

<h1>H1 // The quick brown fox jumps over the lazy dog</h1>
<h2>H2 // The quick brown fox jumps over the lazy dog</h2>
<h3>H3 // The quick brown fox jumps over the lazy dog</h3>
<h4>H4 // The quick brown fox jumps over the lazy dog</h4>
<h5>H5 // The quick brown fox jumps over the lazy dog</h5>
<h6>H6 // The quick brown fox jumps over the lazy dog</h6>

<h3 class="sg__hl sg__hl--subline">Wow-Paragraphs</h3>

<p class="util-wow-paragraph">ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
	Aenean massa. <a href="#">Cum sociis natoque penatibus</a> et magnis dis parturient montes, nascetur ridiculus mus.
	Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
	sem. Nulla <b>consequat</b> massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
	enim
	justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
	tincidunt.
	Cras dapibus. Vivamus elementum semper nisi</p>

<h3 class="sg__hl sg__hl--subline">Paragraphs</h3>

<p>ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. <a href="#">Cum
	sociis natoque penatibus</a> et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
	nec, pellentesque eu, pretium quis,
	sem. Nulla <b>consequat</b> massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
	enim
	justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
	tincidunt.
	Cras dapibus. Vivamus elementum semper nisi</p>

<h3 class="sg__hl sg__hl--subline">Small</h3>

<small>massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim <a href="#">Cum
	sociis natoque penatibus</a>
	justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
	tincidunt.
	Cras dapibus. Vivamus elementum semper nisi. massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
	vulputate eget, arcu. In enim
	justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
	tincidunt.
	Cras dapibus. Vivamus elementum semper nisi
</small>

<h3 class="sg__hl sg__hl--subline">Text-links</h3>
<p class="util-wow-paragraph util-reset-margin-bottom">
	<a class="util-text-link util-icon--after util-icon--arrow-right" href="#">Textlink Wow-Copy</a>
</p>
<a class="util-text-link util-icon--after util-icon--arrow-right" href="#">Textlink Copy</a>
<small><a class="util-text-link util-icon--after util-icon--arrow-right" href="#">Textlink small-Copy</a></small>

<h3 class="sg__hl">Specific Text-Modules</h3>

<div class="row">
	<div class="col-xs-12">
		<h2 class="util-text-center-md">Intro-Text</h2>
		<p class="util-wow-paragraph util-text-center-md">
			ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
			sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
			ultricies nec, pellentesque eu, pretium quis,
			sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
			enim
			justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
			tincidunt.
			Cras dapibus. Vivamus elementum semper nisi
		</p>
		<div class="util-center-md">
			{{> button type="button" text="Mehr erfahren" }}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Reines Textmodul</h3>
		<p>
			ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
			sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
			ultricies nec, pellentesque eu, pretium quis,
			sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
			enim
			justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
			tincidunt.
			Cras dapibus. Vivamus elementum semper nisi
		</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Reines Textmodul Zwei-spaltig</h3>
	</div>
	<div class="col-xs-12 util-text-col-two">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
			sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
			pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
			venenatis vitae, justo.</p>

		<p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
			Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>

		<p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
			laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
			nisi. Nam eget dui.</p>

		<p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
			sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et
			ante tincidunt tempus.</p>

		<p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus
			tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
			eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend
			sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, met</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Reines Textmodul Drei-spaltig</h3>
	</div>
	<div class="col-xs-12 util-text-col-three">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
			sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
			pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
			venenatis vitae, justo.</p>

		<p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
			Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>

		<p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
			laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
			nisi. Nam eget dui.</p>

		<p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
			sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et
			ante tincidunt tempus.</p>

		<p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus
			tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
			eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend
			sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, met</p>
	</div>
</div>