@font-face {
  font-family: "Inter";
  src: url("Inter.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ReadexPro";
  src: url("ReadexPro.ttf");
  font-weight: normal;
  font-style: normal;
}
