<div class="side-nav">
    {{> card class="util-center" text="Über mich" link="#" img="./img/illustrations/gehirn-vintage.png"}}
	{{> card class="util-center" text="Projekte" link="#" img="./img/illustrations/bike.png"}}
	{{> card class="util-center" text="Kontakt" link="#" img="./img/illustrations/hand-writing.png"}}

</div>