@import "../fonts/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body,
  html {
    font-family: "ReadexPro", "Helvetica", "Arial", sans-serif;
    color: #555;
    font-size: 16px;
    background-color: #f5f5f5;
  }

  main {
    @apply flex w-full lg:w-3/4 lg:absolute lg:right-0 flex-1 flex-col lg:pt-24 mt-14 max-w-[128rem];
  }

  section {
    @apply mb-16 lg:mb-20 px-4;
  }

  h1,
  h2 {
    @apply text-xl font-normal;
  }

  b {
    @apply font-bold text-greyDark;
  }

  p,
  span {
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
  }

  p {
    @apply text-lg lg:text-2xl lg:leading-[3rem];
  }

  nav a {
    @apply font-bold text-greyDark no-underline lg:text-2xl lg:text-end lg:py-6 lg:first:pt-0 lg:pr-7 xl:pr-12;
  }

  a {
    @apply text-fontOrange underline underline-offset-2 font-bold;
  }

  a.active,
  nav a:hover {
    @apply text-fontOrange font-bold;
  }
}
