{{!-- layouts/base.hbs --}}
<!doctype html>
<html class="no-js" lang="de">
	<head>
		<meta charset="utf-8" />
		<title>{{#if title}}{{title}}{{else}}Home{{/if}}</title>

		{{!-- Custom <head> content per page could be added. --}}
		{{#> head-block}}
		{{!--
		The `includes/head` partial is the default content,
		but can be overridden.
		--}}
		{{> head }}
		{{/head-block}}

	</head>
	<body>
		{{> page-overlapp }}
		{{> site-border }}
		{{> header }}
		{{> social-bar }}
		{{> side-nav }}

		<div id="page-wrapper">
			
			{{!-- Custom service content goes here. --}}
			{{#> services-block}}
			{{!--
			The `components/browsehappy` and  `components/noscript` partial are
			the default content, but can be overridden.
			--}}
			{{> browsehappy }}
			{{> noscript }}
			{{/services-block}}

			{{!-- Main content goes here. --}}
			{{#> main-block}}
			{{/main-block}}

			{{!-- Custom scripts per page can be added. --}}
			{{#> scripts-block}}
			{{!--
			The `includes/jsfooter` partial is the default content,
			but can be overridden.
			--}}
			{{> jsfooter }}
			{{/scripts-block}}
		</div>
	</body>
</html>