.page-overlapp {
	position: fixed;
	// background-color: white;
	background-color: #f8f7f3;
	width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    top: 40px;
    left: 40px;
    z-index: 50;
	display: none;
	align-items: center;
	justify-content: center;
	transition:transform .5s ease-out;
	animation: removePageOverlapp 1s linear forwards;
	animation-delay: 10s;
	
	&-border-left {
		width: 40px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
	}

	&-border-right {
		width: 40px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
	}

	&-border-top {
		width: 100vw;
        height: 40px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
	}

	/* Logo animation */
	.main_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
		stroke-width:100;
		width:200px;
		height:100px;
		opacity: 1;
		transition:transform .5s ease-out;
		animation: hide 2s linear forwards;
		animation-delay: 2.8s;
	
		.draw {
			.path {
				stroke-dasharray: 2400;
				stroke-dashoffset: 2400;
				stroke-width:0;
				animation: summerbird-ummerbird 2.5s linear forwards ;
			}
		  }	
	}

    // Text animation
	&-text {
		display: block;
		opacity: 0;
		animation: showHide 10s linear forwards;
		animation-delay: 4.8s;
		position: relative;
		width: 800px;

		h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			padding: 0;
			width: 100%;
			text-align: center;
			text-transform: uppercase;

			&:nth-child(2) {
				background: #f8f7f3;
				overflow: hidden;
				z-index: 2;
				clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
				animation: textTransform 2s linear forwards;
				animation-delay: 6s;
				
			}
		}
	}
}

 

@keyframes summerbird-ummerbird {
	0% {
		stroke-width:5;
		stroke-dashoffset: 2400;
		fill: white;
	}
	100% {
		stroke-width:0;
		stroke-dashoffset: 0;
		fill: #333;

	}
}

@keyframes hide {
	0% {
		opacity: 1;
		top: 50%;
		width: 200px;
	  }
	  50% {
		top: -7.5px;
		width: 150px;
	  }
	  51% {
		opacity: 1;
	  }
	  100%{
		opacity: 0;
		top: -7.5px;
		width: 150px;
	  }
}

@keyframes removePageOverlapp {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes textTransform {
	0% {
		clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

	}
	100% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		opacity: 1;
	}
}

@keyframes showHide {
	0% {
		opacity: 0;
	  }
	  25% {
		opacity: 1;
	  }
	  75%{
		opacity: 1;
	  }
	  100% {
		opacity: 0;
	  }
}


